/* general */
* { padding: 0px; margin: 0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html, body { font-family: 'Raleway', sans-serif; font-size: 18px; color: #000; font-weight: normal; }
input, select, textarea { font-family: 'Raleway', sans-serif; font-size: 18px; color: #000; }
img { border: 0px; display: block; }
a,button,input,textarea,img,span,figure { outline: none!important; transition: .30s ease-in-out; -moz-transition: .30s ease-in-out; -webkit-transition: .30s ease-in-out; }
h1, h2, h3, h4, h5, h6 { margin: 0px; font-weight: normal; }
p,ol,ul { margin: 0px; }

*:after, *:before { transition: .30s ease-in-out; -moz-transition: .30s ease-in-out; -webkit-transition: .30s ease-in-out; }

.footerBottom li a i { transition: .30s ease-in-out; -moz-transition: .30s ease-in-out; -webkit-transition: .30s ease-in-out; }
/* 
font-family: 'Raleway', sans-serif; font-family: 'Montserrat', sans-serif;

*/

/* wrapper */
#wrapper { width: 100%; float: left; overflow: hidden; background: #fff; }
	
	.mycontainer { padding: 0 15px; margin: 0px auto; max-width: 1430px; width: 100%; }
		
	/* header container  */
	#headerCntr { padding: 0 0 40px 0; width: 100%; float: left; background: #fff; }
	
		/* header top */
		.headerTop { padding: 10px 0; width: 100%; float: left; font-family: 'Montserrat', sans-serif; }
		.headerTop .socail { margin: 0 15px 0 0; float: right; }
		.headerTop .socail a { margin: 0 11px; float: left; font-size: 16px; color: #000; text-decoration: none; }
		.headerTop .socail a:hover { color: #2d9bfa; }
		.headerTop .contact { float: right; }
		.headerTop .contact a { padding: 0 30px; float: left; font-size: 16px; color: #000; text-decoration: none; line-height: 20px; border-left: 1px solid #c0c0c0; }
		.headerTop .contact a:hover { color: #2d9bfa; }
		.headerTop .contact a i { margin-right: 15px; position: relative;  }
		.headerTop .contact span { position: absolute; top: 0px; left: 15px; font-family: 'Raleway', sans-serif; font-size: 12px; }
		.headerTop .nonprofit { font-size: smaller; margin-left: 160px; color: #6b6a6a; }

		/* header bottom */
		.headerBottom { width: 100%; float: left; background: #215796; }
		
		.addBox { margin: 10px 0 0 10px; padding: 10px 20px; float: left; font-size: 18px; color: #fff; text-align: center; line-height: 31px; border: 1px solid #b9acfb; }
		.addBox strong { display: block; font-size: 24px; font-weight: 700; text-transform: uppercase; }
		
		/* logo box */
		.logoBox { margin: -25px 0; padding: 0 10px; float: left; background: #fff; }
		.logoBox img { max-width: 100%; height: auto; }
		
		/* menu box */
		.menuBox { padding: 34px 0 0 0; float: right; }
		.menuBox div { float: left; }
		.menuBox ul { margin: 9px 0 0 0; float: left; list-style: none; }
		.menuBox li { margin: 0 25px 0 0; float: left; }
		.menuBox li a { padding: 0 7px 4px 7px; display: block; font-size: 16px; color: #fff; text-transform: uppercase; text-decoration: none; font-weight: 600; border-bottom: 2px solid transparent; }
		.menuBox li a:hover { color: #e2e2e2; border-bottom-color: #fff; }
		.menuBox li a.active, .menuBox li.current-menu-item a { border-bottom-color: #fff; }
		.menuBox .donate { padding: 8px 22px 6px 22px; float: right; font-size: 16px; color: #fff; text-transform: uppercase; text-decoration: none; font-weight: 600; border: 1px solid #fff; }
		.menuBox .donate:hover { border-color: #2d9bfa; color: #fff; background: #2d9bfa; }
		
		/* mobilemenu box */
		.mobilemenuBox { padding: 20px 0 0 0; display: none; float: right; }
		.mobilemenuBox ul { display: none; }
		.mobilemenuBox .menutoggle { font-size: 23px; }
		.mobilemenuBox a { margin: 0 0 0 10px; padding: 7px 15px; float: left; font-size: 16px; color: #fff; text-transform: uppercase; text-decoration: none; font-weight: 600; border: 1px solid #fff; }
		.mobilemenuBox a:hover { border-color: #2d9bfa; color: #fff; background: #2d9bfa; }
		
		
	/* banner container */	
	#bannerCntr { width: 100%; float: left; position: relative; }	
	
		/* banner box */
		.bannerBox { width: 100%; float: left; }
		.bannerBox .item { width: 100%; height: 646px; float: left; position: relative; font-family: 'Montserrat', sans-serif; font-size: 16px; color: #fff; line-height: 25px; overflow: hidden; z-index: 1; }
		.bannerBox h2 { font-family: 'Montserrat', sans-serif; font-size: 50px; color: #fff; font-weight: 300; }
		.bannerBox strong { margin-bottom: 10px; display: block; font-family: 'Montserrat', sans-serif; font-size: 86px; color: #fff; font-weight: 700; text-transform: uppercase; line-height: 80px; }
		.bannerBox .text { margin-left: -880px; padding: 213px 40px 0 216px; width: 640px; height: 863px; position: absolute; top: -108px; left: 50%; content: ""; border-radius: 100%; z-index: -1; background: rgba(45,155,250,0.85); box-shadow: 5px 0 0 #006dcb; overflow: hidden; }
		.bannerBox .shape { margin: 0 -40px 16px -216px; padding: 0 0 0 216px; display: block; font-size: 22px; color: #fff; line-height: 30px; background: rgba(26,138,235,0.8); }
		.bannerBox .shape cite { display: inline-block; font-style: normal; vertical-align: middle; }
		.bannerBox .shape span { margin-right: 10px; display: inline-block; font-size: 86px; color: #fff; font-weight: 700; vertical-align: middle; line-height: normal; }
		.bannerBox p { margin-bottom: 30px; }
		.bannerBox .mybtn { padding: 9px 36px 7px 36px; display: inline-block; font-size: 16px; color: #fff; text-transform: uppercase; text-decoration: none; font-weight: 600; border: 1px solid #fff; }
		.bannerBox .mybtn:hover { color: #215796; background: #fff; }
		
		.bannerBox .owl-dots { position: absolute; top: 200px; right: 100px; }
		.bannerBox .owl-dots .owl-dot { margin-bottom: 8px; width: 14px; height: 14px; display: block; border: 3px solid #fff; border-radius: 100%; background: #fff; }
		.bannerBox .owl-dots .owl-dot.active { background: none; }
		
		/* innerbanner box */
		.innerbannerBox { width: 100%; min-height: 280px; float: left; position: relative; overflow: hidden; }
		.innerbannerBox h2 { font-size: 35px; color: #fff; font-weight: 800; text-transform: uppercase; }
		.innerbannerBox .text { margin-left: -855px; padding: 190px 26px 0 195px; width: auto; max-width: 700px; height: 400px; position: absolute; top: -65px; left: 50%; content: ""; border-radius: 100%; background: rgba(45,155,250,0.85); box-shadow: 5px 0 0 #006dcb; overflow: hidden; }	
			
	/* banner container */	
	#middleCntr { width: 100%; float: left; }		
		
		/* breadcrumb box */
		.breadcrumbBox { padding: 16px 0; width: 100%; float: left; font-size: 16px; color: #2d9bfa; font-weight: 700; text-transform: uppercase; border-bottom: 1px solid #e2e2e2; }
		.breadcrumbBox a { color: #000; text-decoration: none; }
		.breadcrumbBox i { margin: 0 4px; color: #000; }
		
		/* holiday box */
		.holidayBox { padding: 70px 0; width: 100%; float: left;	background: #f5f5f5; }
		.holidayBox h2 { margin-bottom: 12px; font-size: 30px; color: #262626; font-weight: 300; }
		.holidayBox h3 { margin-bottom: 13px; font-size: 38px; color: #262626; font-weight: 300; text-transform: uppercase; }
		.holidayBox h4 { margin-bottom: 7px; font-size: 30px; color: #215796; font-weight: 500; line-height: 30px; }
		.holidayBox h4 cite { display: block; font-size: 18px; }
		.holidayBox .text ul { list-style: none; }
		.holidayBox .text li { margin-bottom: 18px; padding: 8px 0 8px 60px; position: relative; font-size: 20px; color: #215796; font-weight: 500; }
		.holidayBox .text li i { position: absolute; top: 0px; left: 0px; width: 43px; height: 43px; color: #fff; text-align: center; line-height: 43px; background: #215796; }
		.holidayBox .mybtn { margin-top: 25px; padding: 9px 20px 7px 20px; display: inline-block; font-size: 16px; color: #494949; text-transform: uppercase; text-decoration: none; font-weight: 500; border: 1px solid #494949; }
		.holidayBox .mybtn:hover { border-color: #2d9bfa; color: #fff; background: #2d9bfa; }
		.holidayBox .owl-dots { width: 100%; position: absolute; bottom: 12px; left: 0px; text-align: center; }
		.holidayBox .owl-dots .owl-dot { margin: 0 4px; width: 14px; height: 14px; display: inline-block; border: 3px solid #fff; border-radius: 100%; background: #fff; }
		.holidayBox .owl-dots .owl-dot.active { background: none; }
		
		/* services box */
		.serviceBox { padding: 65px 0; width: 100%; float: left; }
		.serviceBox .row { margin: 0 -10px; }
		.serviceBox .item { padding: 5px; }
		.serviceBox .item .all { width: 100%; float: left; overflow: hidden; }
		.serviceBox .item .sub { width: 100%; height: 275px; display: table; position: relative; color: #fff; text-decoration: none; z-index: 1; }
		.serviceBox .item .sub:hover { transform: scale(1.1); z-index: 2; }
		.serviceBox .item .sub i { width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; opacity: 0.9; z-index: -1; }
		.serviceBox .item .sub .under { padding: 10px; width: 100%; height: 100%; display: table-cell; vertical-align: middle; text-align: center; }
		.serviceBox .item .sub img { margin: 0px auto; max-width: 100%; }
		.serviceBox .item .sub h3 { padding: 25px 0 10px 0; font-size: 25px; color: #fff; font-weight: 700; text-transform: uppercase; }
		.serviceBox .item .sub span { display: block; font-size: 18px; color: #fff; font-weight: 600; }
		
		/* bag box */
		.bagBox { width: 100%; float: left; background: url(../images/bag_bg.jpg) no-repeat top center / cover; }
		.bagBox .bag { padding: 0 10px; width: 275px; float: left; background: #fff; }
		.bagBox .bag .image { margin: -20px 0; padding: 26px 0; width: 100%; float: left; position: relative; border: 2px solid #040016; }
		.bagBox .bag .image img { margin: 0px auto; max-width: 100%; }
		.bagBox .bag .image span { padding: 0 5px; min-width: 64px; height: 64px; position: absolute; top: 9px; right: 14px; font-size: 22px; color: #fff; font-weight: 600; text-align: center; line-height: 64px; border-radius: 100%; background: #215796; }
		.bagBox .text { padding: 55px 0 0 30px; float: left; }
		.bagBox .text h3 { margin-bottom: 15px; font-size: 30px; color: #fff; font-weight: 800; line-height: 40px; }
		.bagBox .text .mybtn { padding: 12px 30px 9px 30px; display: inline-block; font-size: 16px; color: #fff; text-transform: uppercase; text-decoration: none; font-weight: 600; border: 1px solid #fff; }
		.bagBox .text .mybtn:hover { border-color: #2d9bfa; color: #fff; background: #2d9bfa; }
		.bagBox .logo { margin: 25px 0 0 0; float: right; }
		
		/* events box */
		.eventsBox { padding: 90px 0; width: 100%; float: left; }
		.eventsBox .row { margin: 0 -20px; }
		.eventsBox .row > aside { padding: 10px; }
		.eventsBox .gallery .owl-dots { width: 100%; position: absolute; bottom: 12px; left: 0px; text-align: center; }
		.eventsBox .gallery .owl-dots .owl-dot { margin: 0 4px; width: 14px; height: 14px; display: inline-block; border: 3px solid #fff; border-radius: 100%; background: #fff; }
		.eventsBox .gallery .owl-dots .owl-dot.active { background: none; }
		.eventsBox .event .sub { padding: 25px 30px; width: 100%; float: left; border: 1px solid #494949;  }
		.eventsBox .event h2 { margin-bottom: 12px; font-size: 40px; color: #262626; font-weight: 300; text-transform: uppercase; }
		.eventsBox .event ul { list-style: none; }
		.eventsBox .event li { padding: 8px 40px 8px 0; border-bottom: 1px solid #d2d2d2; }
		.eventsBox .event li a { display: block; font-size: 18px; color: #262626; text-decoration: none; text-transform: uppercase; }
		.eventsBox .event li span { display: block; font-size: 16px; color: #000; }
		.eventsBox .event li:last-child { border-bottom: none; }
		.eventsBox .event li:hover a { color: #215796; }
		.eventsBox .event .mybtn { margin-top: 18px; padding: 9px 20px 7px 20px; display: inline-block; font-size: 16px; color: #494949; text-transform: uppercase; text-decoration: none; font-weight: 500; border: 1px solid #494949; }
		.eventsBox .event .mybtn:hover { border-color: #2d9bfa; color: #fff; background: #2d9bfa; }
		
		.eventsBox .item .sub { padding: 50px; width: 100%; float: left; }
		.eventsBox .item .text { padding: 40px; width: 100%; float: left; font-size: 18px; color: #fff; text-align: center; line-height: 28px; background: rgba(33,80,150,0.8); }
		.eventsBox .item .text h3 { margin-bottom: 10px; font-size: 30px; font-weight: 700; }
		.eventsBox .item .text h3 a { color: #fff; text-decoration: none; }
		.eventsBox .item .text p { padding: 0 45px; }
		.eventsBox .item .text .mybtn { margin-top: 26px; padding: 10px 30px 8px 30px; display: inline-block; font-size: 16px; color: #fff; text-transform: uppercase; text-decoration: none; font-weight: 600; border: 1px solid #fff; }
		.eventsBox .item .text .mybtn:hover { border-color: #2d9bfa; color: #fff; background: #2d9bfa; }
		.eventsBox .gallery { }
		.eventsBox .gallery .gal { padding: 9px 35px; position: absolute; top: 10px; left: 10px; font-size: 18px; color: #fff; font-weight: 500; text-transform: uppercase; z-index: 2; background: #2d9bfa; }
		
		/* history box */
		.historyBox { padding: 70px 0; width: 100%; float: left; font-size: 16px; color: #2f2f2f; line-height: 30px; background: #f5f5f5; }
		.historyBox h2 { margin-bottom: 15px; font-size: 40px; color: #262626; text-transform: uppercase; font-weight: 300; }
		.historyBox h2 strong { color: #2d9bfa; font-weight: 800; }
		.historyBox .text { padding-right: 50px; }
		.historyBox img { max-width: 100%; height: auto; }
		.historyBox p { margin-bottom: 15px; }
		.historyBox .mybtn { margin-top: 10px; padding: 9px 20px 7px 20px; display: inline-block; font-size: 16px; color: #494949; text-transform: uppercase; text-decoration: none; font-weight: 500; line-height: normal; border: 1px solid #494949; }
		.historyBox .mybtn:hover { border-color: #2d9bfa; color: #fff; background: #2d9bfa; }
		
		/* news box */
		.newsBox { padding: 70px 0; width: 100%; float: left; }
		.newsBox .left .item { margin-bottom: 50px; width: 100%; float: left; }
		.newsBox .left .date { padding: 10px 0; width: 9%; float: left; font-size: 18px; color: #fff; font-weight: 900; text-transform: uppercase; text-align: center; line-height: 36px; background: #1a1e21; }
		.newsBox .left .date strong { font-size: 40px; display: block; }
		.newsBox .left .news { width: 90%; float: right; font-size: 16px; color: #515151; line-height: 28px; }
		.newsBox .left .news img { margin-bottom: 20px; width: 100%; height: auto; }
		.newsBox .left .news h3 { margin-bottom: 10px; font-size: 30px; color: #000; font-weight: 800; text-transform: uppercase; line-height: 40px; }
		.newsBox .left .news h3 a { color: #000; text-decoration: none; }
		.newsBox .left .news h3 a:hover { color: #2d9bfa; }
		.newsBox .left .news span { padding: 0 0 12px 0; margin-bottom: 12px; display: block; color: #515151; text-decoration: none; border-bottom: 1px solid #c2c2c2; }
		.newsBox .left .news .mybtn { margin-top: 10px; padding: 12px 30px 10px 30px; display: inline-block; font-size: 16px; color: #494949; text-transform: uppercase; text-decoration: none; font-weight: 500; line-height: normal; border: 1px solid #494949; }
		.newsBox .left .news .mybtn:hover { border-color: #2d9bfa; color: #fff; background: #2d9bfa; }
		.newsBox .left .news .back { margin: 30px 0 0 0; display: inline-block; font-size: 16px; color: #215796; text-decoration: none; }
		.newsBox .left .news .back img { margin: -4px 12px 0 0; width: auto; display: inline-block; vertical-align: middle; }
		
		.newsBox .left .page { padding: 0 0 0 10%; width: 100%; float: left; font-family: 'Montserrat', sans-serif; }
		.newsBox .left .page a { margin-right: 10px; width: 50px; height: 50px; display: inline-block; font-size: 30px; color: #494949; font-weight: 700; text-decoration: none; text-align: center; line-height: 48px; border: 1px solid #494949; }	
		.newsBox .left .page a:hover, .newsBox .left .page a.active { color: #fff; border-color: #2d9bfa; background: #2d9bfa; }	
		
		.newsBox .right h3 { margin-bottom: 8px; font-size: 30px; color: #000; font-weight: 800; text-transform: uppercase; }
		.newsBox .right ul { margin-bottom: 40px; list-style: none; }
		.newsBox .right li { padding: 8px 0; border-bottom: 1px solid #cbcbcb; }
		.newsBox .right li:last-child { border-bottom: none; }
		.newsBox .right li a { display: block; font-size: 16px; color: #000; text-decoration: none; line-height: 28px; }
		.newsBox .right li span { display: block; font-size: 16px; color: #3b3b3b; }
		.newsBox .right li:hover a { color: #2d9bfa; }
		.newsBox .right li:hover span { color: #000; }
		.newsBox .right .bag { width: 90%; float: left; background: #fff; }
		.newsBox .right .bag .image { padding: 30px; width: 100%; float: left; position: relative; border: 2px solid #040016; }
		.newsBox .right .bag .image img { margin: 0px auto; max-width: 100%; }
		.newsBox .right .bag .image span { padding: 0 5px; min-width: 64px; height: 64px; position: absolute; top: 9px; right: 14px; font-size: 22px; color: #fff; font-weight: 600; text-align: center; line-height: 64px; border-radius: 100%; background: #215796; }
		.newsBox .right .visit { margin: 10px 0 0 0; padding: 28px; width: 90%; float: left; text-align: center; background: url(../images/visit_bg.jpg) no-repeat top center / cover; }
		.newsBox .right .visit img { margin: 0px auto 23px auto; }
		.newsBox .right .visit h3 { font-size: 20px; color: #fff; font-weight: 700; text-align: center; text-transform: uppercase; line-height: 30px; }
		.newsBox .right .visit .mybtn { margin-top: 10px; padding: 10px 30px 8px 30px; display: inline-block; font-size: 16px; color: #fff; text-transform: uppercase; text-decoration: none; font-weight: 600; border: 1px solid #fff; }
		.newsBox .right .visit .mybtn:hover { border-color: #2d9bfa; color: #fff; background: #2d9bfa; }
		.newsBox .right .widget_custom_html .widgettitle { display: none; }
		.newsBox .right .widget { width: 100%; float: left; }
		
		/* years area */
		.yearsArea { padding: 40px 0; width: 100%; float: left; }
		.yearsArea .years { width: 100%; float: left; } 
		.yearsArea .item { padding-top: 10px; padding-bottom: 20px; } 
		.yearsArea .item:nth-of-type(3n+4) { clear: both; }
		.yearsArea img { width: 100%; height: auto; } 
		.yearsArea .title { padding: 10px 15px; font-size: 16px; color: #2f2f2f; text-align: center; line-height: 28px; border: 1px solid #e7e7e7; border-top: none; } 
		
		/* content area */
		.contentArea { padding: 50px 0; width: 100%; float: left; }
		
		/* contactus area */
		.contactusArea { width: 100%; float: left; }
		.contactusArea .address { padding: 50px 0; width: 100%; float: left; text-align: center }
		.contactusArea .address ul { list-style: none; }
		.contactusArea .address li { padding: 20px 35px; display: inline-block; vertical-align: top; border-right: 1px solid #a0a1a3; }
		.contactusArea .address li:first-child { padding-left: 0px; }
		.contactusArea .address li:last-child { padding-right: 0px; border-right: none; }
		.contactusArea .address li a { width: 100%; float: left; font-size: 22px; color: #1a1e21; line-height: 30px; text-decoration: none; }
		.contactusArea .address li a i { margin-right: 12px; width: 69px; height: 69px; display: inline-block; font-size: 24px; color: #fff; text-align: center; text-decoration: none; line-height: 69px; vertical-align: middle; border-radius: 100%; background: #2d9bfa; }
		.contactusArea .address li a span { display: inline-block; vertical-align: middle; text-align: left; }
		.contactusArea .contactus { padding: 70px 0 60px 0; width: 100%; float: left; background: #ebebeb; }
		.contactusArea .contactus .mycontainer { max-width: 1010px; }
		.contactusArea .contactus h2 { margin-bottom: 35px; font-size: 40px; color: #262626; text-transform: uppercase; text-align: center; font-weight: 300; }
		.contactusArea .contactus h2 strong { color: #2d9bfa; font-weight: 800; }
		.contactusArea .contactus .wpcf7-form-control-wrap { padding: 12px; width: 33.33%; float: left; }
		.contactusArea .contactus .wpcf7-form-control-wrap.message { margin-bottom: 12px; width: 100%; }
		.contactusArea .contactus .style { padding: 0 14px; width: 100%; height: 56px; float: left; font-size: 16px; color: #000; border: 1px solid #d4d4d4; }
		.contactusArea .contactus textarea.style { padding: 8px 14px; width: 100%; height: 225px; }
		.contactusArea .contactus .style.wpcf7-not-valid { border-color: #f00; }
		.contactusArea .contactus span.wpcf7-not-valid-tip { display: none; }
		.contactusArea .contactus .wpcf7-response-output { margin: 20px 0 0 0; width: 100%; float: left; color: #000; font-size: 14px; }
		.contactusArea .contactus .mybtn { margin: 0 auto; width: 175px; height: 56px; display: block; font-size: 18px; color: #fff; font-weight: 700; text-transform: uppercase; border: none; background: #2d9bfa; }
		.contactusArea .contactus .mybtn:hover { background: #215796; }
		.contactusArea .map { width: 100%; float: left; }
		.contactusArea .map iframe { width: 100%; height: 360px; float: left; }
		
		/* store area */
		.storeArea { padding: 55px 0; width: 100%; float: left; }
		.storeArea .leftColmun h3 { margin-bottom: 12px; font-size: 16px; color: #484848; font-weight: 700; }
		.storeArea .leftColmun ul { list-style: none; }
		.storeArea .leftColmun li a { padding: 17px 20px; display: block; font-size: 16px; color: #000; font-weight: 600; text-decoration: none; border: 1px solid #d3d3d3; border-bottom: none; }
		.storeArea .leftColmun li:last-child a { border-bottom: 1px solid #d3d3d3; }
		.storeArea .leftColmun li a:hover, .storeArea .leftColmun li.active a { color: #fff; border-color: #2d9bfa; background: #2d9bfa; }
		.storeArea .rightColmun .product { width: 100%; float: left; }
		.storeArea .rightColmun .product h2 { margin-bottom: 20px; position: relative; font-size: 30px; color: #424242; text-align: center; font-weight: 800; z-index: 1; }
		.storeArea .rightColmun .product h2:after { width: 100%; height: 1px; position: absolute; top: 49%; left: 0px; content: ""; z-index: -1; background: #e2e2e2; }
		.storeArea .rightColmun .product h2 span { padding: 0 23px; display: inline-block; background: #fff; }
		.storeArea .rightColmun .product .row { margin: 0 -11px; }
		.storeArea .rightColmun .product .item { padding: 11px; }
		.storeArea .rightColmun .product .sub { width: 100%; float: left; position: relative; text-align: center; }
		.storeArea .rightColmun .product .sub figure { width: 100%; height: 284px; display: table; border: 1px solid #d3d3d3; border-bottom: none; transition: .30s ease-in-out; -moz-transition: .30s ease-in-out; -webkit-transition: .30s ease-in-out; }
		.storeArea .rightColmun .product .sub figure span { width: 100%; height: 100%; display: table-cell; vertical-align: middle; }
		.storeArea .rightColmun .product .sub figure img { margin: 0px auto; max-width: 100%; transition: .30s ease-in-out; -moz-transition: .30s ease-in-out; -webkit-transition: .30s ease-in-out; }
		.storeArea .rightColmun .product .sub h3 { padding: 5px; width: 100%; min-height: 60px; float: left; font-size: 16px; color: #fff; line-height: 24px; transition: .30s ease-in-out; -moz-transition: .30s ease-in-out; -webkit-transition: .30s ease-in-out; background: #2d9bfa; }
		.storeArea .rightColmun .product .sub:hover figure { box-shadow: 0 0 20px rgba(0,0,0,0.2); }
		.storeArea .rightColmun .product .sub:hover figure img { -webkit-transform: scale(0.8); -moz-transform: scale(0.8); transform: scale(0.8); }
		.storeArea .rightColmun .product .sub:hover h3 { background: #000; }
		.storeArea .rightColmun .product .sub:hover:after { padding: 8px 24px; position: absolute; top: 0px; right: 0px; content: "New"; font-size: 14px; color: #000; font-weight: 600; text-transform: uppercase; background: #d3d3d3; }
		.storeArea .rightColmun .services { width: 100%; float: left; }
		.storeArea .rightColmun .services .item { padding-bottom: 20px; width: 100%; float: left; }
		.storeArea .rightColmun .services .image { padding: 20px; min-height: 172px; width: 22%; float: left; border: 1px solid #d3d3d3; }
		.storeArea .rightColmun .services .image img { margin: 0px auto; max-width: 100%; height: auto; }
		.storeArea .rightColmun .services .text { padding: 15px 22px; width: 77%; min-height: 172px; float: right; font-size: 20px; color: #000; line-height: 30px; border: 1px solid #d3d3d3; }
		.storeArea .rightColmun .services .text strong { font-weight: 600; color: #215796; }
		
		.storeArea .rightColmun .packages { width: 100%; float: left; }
		.storeArea .rightColmun .packages .row { margin: 0 -11px; }
		.storeArea .rightColmun .packages .item { padding: 11px; }
		.storeArea .rightColmun .packages .item:nth-of-type(3n+4) { clear: both; }
		.storeArea .rightColmun .packages .sub { width: 100%; float: left; position: relative; text-align: center; }
		.storeArea .rightColmun .packages .sub img { max-width: 100%; height: auto; }
		.storeArea .rightColmun .packages .sub figure { width: 100%; height: 284px; display: table; border: 1px solid #d3d3d3; border-bottom: none; transition: .30s ease-in-out; -moz-transition: .30s ease-in-out; -webkit-transition: .30s ease-in-out; }
		.storeArea .rightColmun .packages .sub figure span { width: 100%; height: 100%; display: table-cell; vertical-align: middle; }
		.storeArea .rightColmun .packages .sub figure img { margin: 3px; width: 85px; height: auto; display: inline-block; max-width: 100%; transition: .30s ease-in-out; -moz-transition: .30s ease-in-out; -webkit-transition: .30s ease-in-out; }
		.storeArea .rightColmun .packages .sub figure cite { padding: 8px 24px; position: absolute; top: 0px; right: 0px; font-family: 'Montserrat', sans-serif; font-size: 14px; color: #000; font-weight: 600; font-style: normal; text-transform: uppercase; background: #d3d3d3; }
		.storeArea .rightColmun .packages .sub .text { padding: 10px 10px 60px 10px; width: 100%; min-height: 215px; position: relative; float: left; color: #fff; text-align: left; background: #2d9bfa; }
		.storeArea .rightColmun .packages .sub .text h3 { padding: 0 0 10px 72px; min-height: 80px; position: relative; font-size: 16px; color: #fff; font-weight: 500; line-height: 24px; }
		.storeArea .rightColmun .packages .sub .text h3 span { width: 62px; height: 62px; position: absolute; top: 0px; left: 0px; font-family: 'Montserrat', sans-serif; font-size: 28px; font-weight: 600; text-align: center; line-height: 62px; border-radius: 100%; background: #1180e0; }
		.storeArea .rightColmun .packages .sub .text h3 span sup { font-size: 18px; }
		.storeArea .rightColmun .packages .sub .text label { font-size: 14px; font-weight: 600; text-transform: uppercase; }
		.storeArea .rightColmun .packages .sub .text select { padding: 0 10px; width: 75%; height: 36px; float: right; font-size: 14px; font-weight: 600; color: #000; text-transform: uppercase;}
		.storeArea .rightColmun .packages .sub .text .mybtn { padding: 9px; width: 100%; position: absolute; bottom: 0px; left: 0px; font-size: 14px; font-weight: 600; color: #fff; text-align: center; text-decoration: none; text-transform: uppercase; background: #215796; }
		.storeArea .rightColmun .packages .sub:hover figure { box-shadow: 0 0 20px rgba(0,0,0,0.2); }
		
		/* productdetails box */
		.productdetailsBox { padding: 35px 0; width: 100%; float: left; }
		.productdetailsBox .image .bor { padding: 40px; width: 100%; float: left; border: 1px solid #d3d3d3; }
		.productdetailsBox .image img { margin: 0px auto; max-width: 100%; }
		.productdetailsBox .text { padding-left: 35px; font-size: 16px; color: #424242; line-height: 30px; }
		.productdetailsBox .text h3 { margin-bottom: 15px; min-height: 82px; font-size: 35px; color: #424242; font-weight: 800; text-transform: uppercase; }
		.productdetailsBox .text h4 { padding-bottom: 23px; margin-bottom: 17px; font-size: 16px; color: #424242; font-weight: 600; border-bottom: 1px solid #d3d3d3; }
		.productdetailsBox .text h5 { margin-bottom: 20px; font-family: 'Montserrat', sans-serif; font-size: 28px; color: #215796; font-weight: 600; }
		.productdetailsBox .text h5 span { font-family: 'Raleway', sans-serif; font-size: 16px; color: #424242; }
		.productdetailsBox .text p { margin-bottom: 10px; }
		.productdetailsBox .text .blue { padding: 25px 0 20px 0; color: #215796; }
		.productdetailsBox .text .mybtn { margin: 0 8px 0 0; padding: 10px 25px; display: inline-block; font-size: 16px; color: #686868; font-weight: 700; text-decoration: none; text-transform: uppercase; border: 1px solid #d3d3d3; }
		.productdetailsBox .text .mybtn:hover { color: #fff; border-color: #2d9bfa; background: #2d9bfa; }
		.productdetailsBox .text .back { margin: 30px 0 0 0; display: inline-block; font-size: 16px; color: #215796; text-decoration: none; }
		.productdetailsBox .text .back img { margin: -4px 12px 0 0; width: auto; display: inline-block; vertical-align: middle; }
		
		/* support area */
		.supportArea { width: 100%; float: left; }
		.supportArea .content { padding: 40px 0; width: 100%; float: left; font-size: 22px; color: #2f2f2f; font-weight: 500; text-align: center; line-height: 32px; background: #f5f5f5; }
		.supportArea .support { padding: 55px 0 20px 0; width: 100%; float: left; font-size: 22px; color: #2f2f2f; font-weight: 500; text-align: center; line-height: 32px; }
		.supportArea .support h2 { font-size: 40px; color: #262626; font-weight: 300; text-transform: uppercase; }
		.supportArea .support h2 strong { font-weight: 800; }
		.supportArea .support img { margin: 35px auto; }
		.supportArea .support .donate { margin-top: 30px; padding: 8px 35px; display: inline-block; font-size: 16px; color: #686868; font-weight: 700; text-decoration: none; text-transform: uppercase; border: 1px solid #d3d3d3; }
		.supportArea .support .donate:hover { color: #fff; border-color: #2d9bfa; background: #2d9bfa; }
		
	#footerCntr { width: 100%; float: left; background: url(../images/footer_bg.jpg) no-repeat top center / cover; }	
	
		/* footer box */
		.footerTop { padding: 20px 0; width: 100%; float: left; border-bottom: 1px solid #4d4d4d; }
		.footerTop .logo { float: left; }
		.footerTop .stay { margin: 30px 0 0 0; float: right; }
		.footerTop .stay form { float: left; }
		.footerTop .stay div { width: auto; float: left; }
		.footerTop .stay label { display: none !important; }
		.footerTop .stay .style, .footerTop .stay .tnp-email { padding: 0 28px; width: 444px; height: 56px; float: left; font-size: 13px; color: #fff; border: 1px solid #fff; background: none; }
		.footerTop .stay h2 { margin: 10px 70px 0 0; float: left; font-size: 35px; color: #fff; font-weight: 700; text-transform: uppercase; }
		.footerTop .stay .mybtn, .footerTop .stay .tnp-submit { margin: 0 0 0 12px; width: 150px; height: 56px; float: left; font-size: 18px; color: #000; font-weight: 700; text-transform: uppercase; border: none; background: #fff; }
		.footerTop .stay .mybtn:hover, .footerTop .stay .tnp-submit:hover { color: #fff; background: #2d9bfa; }
		
		/* footer bottom */
		.footerBottom { padding: 55px 0; width: 100%; float: left; }
		.footerBottom h3 { margin-bottom: 20px; font-size: 20px; color: #fff; font-weight: 600; text-transform: uppercase; }
		.footerBottom ul { list-style: none; }
		.footerBottom li { margin-bottom: 10px; }
		.footerBottom li a { font-size: 16px; color: #fff; text-decoration: none; }
		.footerBottom li a:hover { color: #2d9bfa; }
		.footerBottom li a:hover i { padding-left: 10px; }
		.footerBottom li a i { min-width: 40px; }
		.footerBottom .copyr { margin-top: 80px; font-size: 16px; color: #fff; }
		.footerBottom .contact .style { margin-bottom: 10px; padding: 0 10px; width: 100%; height: 44px; float: left; font-size: 13px; color: #fff; border: 1px solid #fff; background: none; }
		.footerBottom .contact .style.wpcf7-not-valid { border-color: #f00; }
		.footerBottom .contact span.wpcf7-not-valid-tip { display: none; }
		.footerBottom .contact textarea.style { padding: 7px 10px; height: 115px; }
		.footerBottom .contact .wpcf7-response-output { margin: 20px 0 0 0; width: 100%; float: left; color: #fff; font-size: 14px; }
		.footerBottom .contact .mybtn { width: 135px; height: 44px; float: left; font-size: 16px; color: #000; font-weight: 700; text-transform: uppercase; border: none; background: #fff; }
		.footerBottom .contact .mybtn:hover { color: #fff; background: #2d9bfa; }
		.footerBottom .link:last-child { font-family: 'Montserrat', sans-serif; }
		
	/* content helpers */
	.img-float-left { float: left; margin-right: 20px; }
	.img-float-right { float: right; margin-left: 20px; }
		